# This is an example snippet for i3 config file for the features included in this
# repository. These lines must be appended to the i3 config file in order to use
# the features.
#

# If you do not wish to use py3status, you can use the i3status.sh
# script to append the keyboard layout indicator to i3status.
# Note that the $refresh command below will not work with this script.
# You should remove $refresh command completely.
#
# bar {
#   status_command $HOME/.i3/scripts/i3status.sh
# }
#
# command to refresh i3bar
set $refresh killall -s USR1 py3status

# Volume controls
set $voldown exec $HOME/.config/i3/scripts/i3control volume down
set $volup exec $HOME/.config/i3/scripts/i3control volume up
set $voltoggle exec $HOME/.config/i3/scripts/i3control volume toggle

bindsym XF86AudioLowerVolume $voldown && $refresh
bindsym XF86AudioRaiseVolume $volup && $refresh
bindsym XF86AudioMute $voltoggle && $refresh

# Extra keybindings with mod key for volume controls (optional)
bindsym $mod+bracketleft $voldown && $refresh
bindsym $mod+bracketright $volup && $refresh
bindsym $mod+backslash $voltoggle && $refresh

# Brightness controls
bindsym XF86MonBrightnessDown exec $HOME/.config/i3/scripts/i3control brightness down
bindsym XF86MonBrightnessUp exec $HOME/.config/i3/scripts/i3control brightness up

# Keyboard layouts
# To enable any layout for switching, add it to i3kblayout.py command as an argument
# The example here switches between US, TR and DE layouts
bindsym $mod+space exec $HOME/.config/i3/scripts/i3kblayout.py us tr de && $refresh

